<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>添加开发商</title>
        <link href="__PUBLIC__/Css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/jquery-ui/css/pepper-grinder/jquery-ui.min.css">
        <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.min.css">

            <link rel="stylesheet" href="__PUBLIC__/Css/uploadify.css">
                <script src='__PUBLIC__/Js/jquery.uploadify.min.js'></script>
                <script type="text/javascript">
                        $(function(){

                            if($(".house_into").val()==''){ $(".house_into").text("请选择")}
                            function setout(){
                                $('.validateTips').text()
                                $('#skuNotice').show();
                                var dingshi= setTimeout( function(){
                                    $( '#skuNotice' ).fadeOut();
                                }, ( 1 * 1000 ) );  
                                return dingshi;
                            } 
                            function checkInput(){
                                var bValid = true;
                               bValid = bValid && checkLength( $("#name"), $("#name").prev().text(), 2, 16 );
                               bValid = bValid && checkEmpty( $("#type_on"), "\u8bf7选择分类！" );//notice

                                bValid = bValid && (checkRegexp( $("#phone"), /\d{3}-\d{8}|\d{4}-\d{7}/ , "\u7535话格式不正确！" ));
                                bValid = bValid && checkEmpty( $("#addressAdd"), "\u8bf7选择省市！" );
                           //     bValid = bValid && checkEmpty( $("#city_list"), "\u8bf7选择市区！" );
                                bValid = bValid && checkEmpty( $("#val_list"), "\u8bf7选择区县！" );
                                bValid = bValid && checkEmpty( $("#address"), "地址不能为空！" );
                                bValid = bValid && checkEmpty( $("#notice"), "店主姓名不能为空！" );
                          
                                if(bValid==false){ setout(); }
                                return bValid;
                            }
                            $('form').submit(function(){
                                if(!checkInput()){
                                    $('.dfinput').each(function () {
                                      //  alert($(this).prev().text())
                                        if($(this).val()==''){
                                            $(this).next().css("color","red");
                                            $('.errorColor').css("color","red")
                                        }
                                    });
                                    return false;
                                }
                                return true
                            })
                            $(".dfinput").bind("focus",function(){
                                $('#skuNotice').hide();
                                $(this).addClass("focus");
                                $(this).next().css("color","#7f7f7f");
                                if($(this).hasClass("ui-state-error")){
                                    $(this).removeClass( "ui-state-error" );
                                    $(".validateTips").removeClass("errorTip").hide();	
                                }
                            }).bind("blur",function(){
                                $(this).removeClass("focus");
                                if($(this).val()==''){ 
                                    $(this).next().css("color","red"); }
                                checkInput();
                            });
                        })
                </script>
                <style type="text/css">
                    .pro{  float: left;line-height: 30px;margin-bottom: 10px; margin-left: 5px;}
                    #imgs_more{ width: 100%}
                    .sku_tip { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);border-radius: 4px;box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.7);color: #fff;display: none;left: 50%;margin-left: -70px; padding: 5px 10px;position: fixed; text-align: center; top: 50%;z-index: 25;}
                    .pro select{width: 345px;height: 32px; }
                    .box{ margin-left: 5px; font-size: 12px; margin-top: -3px; padding-left:5px; padding:3px;}
                    .forminfo li input{width: 345px;height: 32px;margin-left: 5px; }
                    .close{ float: left;}
                </style>
                </head>
                <body style="background: none;">

                    <div class="place">
                       
                        <ul class="placeul">
                             <li><a href="{:U('Index/start','','')}">首页</a></li>
                            <li><a href="#">添加生活导航商家</a></li>
                        </ul>
                    </div>
                    <form action="" method="post" name ="vform">
                        <input type ="hidden" name="id" value="{$data.id}">
                            <input id="typeId" type ="hidden" name="id" value="{$info.id}">
                                <input type ="hidden" name="action" id="action" value="{$data.action}">
                                    <input type ="hidden" name="admin" value={$Think.session.admin.name}>
                                        <div class="formbody">

                                            <div class="formtitle"><span>{$data.title}</span></div>

                                            <ul class="forminfo">
                                                <li style = "display:none"><label>生活导航商家编号</label><input name="number" type="text" class="dfinput" value="{$info.id}" disabled="disabled"/><i>不用输入，系统自动生成</i></li>
                                               <li><label>商家名称</label><input name="name" id="name"  type="text" class="dfinput"  value="{$info.name}" /><i id="name_info">名称不能超过30个字符</i></li>
                                                <li><label>分类</label>
                                                    <span class = 'pro'>
                                                        <select name = 'parent_type' id="type_on" class="form-control">
                                                            <option class="pro_into"  value="{$info.parent_type}">{$info.type_name}</option>
                                                            <volist name='cate' id = "vo">
                                                                <option class = "top_cate" value="{$vo.type_id}" >{$vo.type_name}</option>
                                                            </volist>
                                                        </select>
                                                        <select name = 'type' style="display:none" id ="soncate" class="form-control" >

                                                        </select>
                                                    </span>
                                                    <i class="errorColor">分类不能为空</i></li> 
                                               
                                                <li><label>电 话</label><input name="phone" type="text" id="phone" class="dfinput" value="{$info.mobile_phone}"/><i>格式：0755-xxxxxxxx</i></li>
                                                <!--  <li><label>传 真</label><input name="fex" type="text" class="form-control"  value="{$info.fex}"/><i></i></li>  -->
                                                <li><label>地 址</label>
                                                    <span class = 'pro'>
                                                        <select name = 'province'  class="form-control" id="addressAdd" >
                                                            <option class="cheng_in" value="{$info.province}">{$info.REGION_NAME}</option>
                                                            <volist name='pro' id = "vo">
                                                                <option class = "pro_in" value="{$vo.region_id}" >{$vo.region_name}</option>
                                                            </volist>
                                                        </select>

                                                        <select name = 'city' style="display:none" id ="city_list" class="form-control" <!--onclick="saveCity()" -->>
                                                                <option class = "city_in" value="{$info.city}"></option>
                                                        </select>

                                                        <select name = 'area' style="display:none"  id ="val_list" class="form-control"  >
                                                            <option class="area_on" value="{$info.area}"></option>
                                                        </select>

                                                    </span> <i class="errorColor">地址不能为空</i>
                                                    <div style="display:none" id="skuNotice" class="sku_tip">
                                                        <span class="validateTips"></span>
                                                    </div>
                                                    <i></i></li>        
                                                <li><label>详细地址</label><input name="address" type="text" id="address" class="dfinput" value="{$info.address}" /><i>街道地址</i></li>
                                                <li style="height:85px"><label>商家描述</label><textarea rows="5"  cols='50' style="border:1px solid #A7B5BC" name ="des" value="{$info.des}">{$info.des}</textarea><i>描述</i></li>
                                               <li><label>列表图片</label>
                                                    <div id="list_hidden">
                                                        <input type ='hidden' name = "list_path" value="{$info.list_path}">
                                                            <input type ='hidden' name = "mid_pic" value="{$info.mid_pic}">
                                                                <input type ='hidden' name = "list_pic" value="{$info.list_pic}">
                                                                    </div></li>
                                                                    <li style="position:relative;margin-bottom:5px;height:55px"><input name="list_pic" id="upload_list" type="file" class="dfinput" style="" value="{$info.list_pic}" /><i  id ="imgs" style="position:absolute;left:150px;top:-5px;">
                                                                            <if condition = "$info.list_pic neq ''">
                                                                                <div class="up_list_pic">
                                                                                    <img height='50px' src='{$info.list_pic}'>
                                                                                        <img src='__PUBLIC__/Images/uploadify-cancel.png' class ='close' onclick = 'javascript:deleteListPic()'> 
                                                                                            </div>
                                                                                            </if>
                                                                                            </i></li>
                                                                                            <li><label>店铺图册</label><i></i></li> 
                                                                                            <li style="position:relative;margin-bottom:5px;height:55px"><input type = "file" id ="upload_more">
                                                                                                    <i  id ="imgs_more" style="position:absolute;left:150px;top:-5px;">
                                                                                                        <div id = 'more_{$k}' class = ' more_list_pic' num = 0 > 
                                                                                                        </div>
                                                                                                        <if condition = "$info.more_pic neq ''">
                                                                                                            <volist name="info.more_pic" id="vo" key = 'k'>
                                                                                                                <div id = 'more_{$k}' class = ' more_list_pic' num = "{$k}" style=" float: left">
                                                                                                                    <img width='50px' src='{$vo.mid}' name ='path'>
                                                                                                                        <input type='hidden' name='path[]'  value='{$vo.pic}'/>
                                                                                                                        <input type='hidden' name='mid[]' value='{$vo.mid}'/>
                                                                                                                        <input type='hidden' name='pic_name[]' value='{$vo.name}'/>
                                                                                                                        <img src='__PUBLIC__/Images/uploadify-cancel.png' class ='close' onclick = 'javascript:deletePic({$k})' > 
                                                                                                                            </div>
                                                                                                                            </volist>
                                                                                                                            </if>
                                                                                                                            </i></li>
                                                <li><label>店铺星级</label><input name="star" id="notice" type="text" class="dfinput" value="{$info.star}"/><i></i></li>
                                                <li><label>店主姓名</label><input name="user_name" id="notice" type="text" class="dfinput" value="{$info.user_name}" /><i></i></li>  
                                                <li><label>競價排名</label><input name="sort" id="notice" type="text" class="dfinput" value="100" value="{$info.sort}" /><i></i></li>
                                                <li><label>是否鎖定</label><span style="line-height:30px"><input name="lock" id="lock" type="radio" class="dfinput" value="0" <if condition="$info.lock eq 0">checked="checked"</if> style="width:50px"/>正常
                                                            <input name="lock" id="lock" type="radio" class="dfinput" value="1" style="width:50px" <if condition="$info.lock eq 1">checked="checked"</if>/>鎖定</span><i></i></li>    
                                                                <li><label>经纬度</label><input name="jingwei" id="notice" type="text" class="dfinput" value="{$info.jingwei}" />
                                                                    <span style="display:inline;background:#F5F7F9;margin-left:50px;padding:15px 5px 5px 5px;border-radius:5px;cursor:pointer"> <a href="javascript:;" id ="get" onclick="openwindow()"><img src="__PUBLIC__/Images/t02.png"/> 获取</a></span><i></i></li>         
                                                                <li><label>&nbsp;</label><input name="" type="submit" class="btn btn-primary" value="确认{$data.btn}"  onclick="javascript:;" /></li>
                                                                </ul>

                                                                </div>
                                                                </form>

                                                                </body>
                                                                <script>


                                                                    var list_pic = "";
                                                                    $('#upload_list').uploadify({
                                                                        'swf'      : '__PUBLIC__/Images/uploadify.swf',
                                                                        'uploader' : '{:U("Uploads/listUpload")}',
                                                                        'cancelImage':'__PUBLIC__/Images/uploadify-cancel.png',
                                                                        'buttonText' : '列表上传',
                                                                        'multi': false,
                                                                        'onUploadSuccess' : function(file, data, response) {
                                                                            //alert(data);
                                                                            obj= $.parseJSON(data);
                                                                            list_pic += "<img height='50px' src='"+obj.path+"'>";
                                                                            list_pic +=" <img src='__PUBLIC__/Images/uploadify-cancel.png' class ='close' onclick = 'javascript:deleteListPic()'> "
                                                                            $('#imgs').html(list_pic);
                                                                            var hid ="<input name='list_path' id='list_path' type='hidden' value='"+obj.path+"' />";
                                                                            hid +="<input name='mid_pic' id='mid_pic' type='hidden' value='"+obj.mid+"' />"
                                                                            hid +="<input name='list_pic' id='list_pic' type='hidden' value='"+obj.min+"' />"
                                                                            $('#list_hidden').html(hid);
                                                                            list_pic = '';
                                                                            hid='';
                                                                        }
                                                                    });
                                                                    var img = '';
                                                                    var num = $('.more_list_pic').last().attr('num')+1;

                                                                    $('#upload_more').uploadify({
                                                                        'swf'      : '__PUBLIC__/Images/uploadify.swf',
                                                                        'uploader' : '{:U("Uploads/photo",'','')}',
                                                                        'cancelImage':'__PUBLIC__/Images/uploadify-cancel.png',
                                                                        'buttonText' : '缩略图上传',
                                                                        'onUploadSuccess' : function(file, v, response) {
                                                                            // alert(data);
                                                                            obj= $.parseJSON(v);
                                                                            // console.log(obj)
                                                                            img += "<div id = 'more_"+num+"' class = ' more_list_pic' num = '"+num+"'>"
                                                                            img += "<img width='50px' src='"+obj.path+"' name ='path'>";
                                                                            img += "<input type='hidden' name='path[]'  value='"+obj.path+"'/>";
                                                                            img += "<input type='hidden' name='mid[]' value='"+obj.mid+"'/>";
                                                                            img += "<input type='hidden' name='pic_name[]' value='"+obj.name+"'/>";
                                                                            img += "<img src='__PUBLIC__/Images/uploadify-cancel.png' class ='close' onclick = 'javascript:deletePic("+num+")'> ";
                                                                            img += "</div>"
                                                                            $('#imgs_more').append(img);
                                                                            img = '';
                                                                            num++;
                                                                        }
                                                                    });
                                                                    function deletePic(num){
                                                                        $("#more_"+num+"").html('');
                                                                        // $('this').parent('.more_list_pic').remove();
                                                                    }
                                                                    /*     function deleteListPic(){
                                                                        $(".up_list_pic").html('');
                                                                        $('#list_hidden').html('');
                                                                    }*/
                                                                    function deleteListPic(){
                                                                                                                                   
                                                                        $("#imgs img").remove();
                                                                        $('#list_hidde input').remove();
                                                                    }
                                                                    function openwindow()
                                                                    {
                                                                        var url = 'http://api.map.baidu.com/lbsapi/getpoint/'; //转向网页的地址;
                                                                        var name="获取经纬"; //网页名称，可为空;
                                                                        var iWidth='800'; //弹出窗口的宽度;
                                                                        var iHeight='600'; //弹出窗口的高度;
                                                                        //window.screen.height获得屏幕的高，window.screen.width获得屏幕的宽
                                                                        var iTop = (window.screen.height-30-iHeight)/2; //获得窗口的垂直位置;
                                                                        var iLeft = (window.screen.width-10-iWidth)/2; //获得窗口的水平位置;
                                                                        window.open(url,name,'height='+iHeight+',,innerHeight='+iHeight+',width='+iWidth+',innerWidth='+iWidth+',top='+iTop+',left='+iLeft+',toolbar=no,menubar=no,scrollbars=auto,resizeable=no,location=no,status=no');
                                                                    }
                                                                    function ShowPage()
                                                                    {
                                                                        showModalDialog('http://api.map.baidu.com/lbsapi/getpoint/','example04','dialogWidth:400px;dialogHeight:300px;dialogLeft:200px;dialogTop:150px;center: yes;help:no;resizable:no;status:no')
                                                                    }

                                                                </script>
                                                                <script type="Text/Javascript">
                                                                    $(function(){
                                                                        $('#addressAdd').bind('change',function(){
                                                                            $('#vallage').hide(200);
                                                                            var id =$(this).val();
                                                                            // alert(id);
                                                                            $('#city').attr('pro',id);
                                                                            $('#val_list').html("<p>请选择城市</p>")
                                                                            $.ajax({
                                                                                url : "{:U('City/city','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){                   
                                                                                    if(data != null){
                                                                                                                                                                   
                                                                                        var str=""
                                                                                        $.each(data,function(key,val){
                                                                                            str += "<option class='city_in' value="+val['region_id']+" onclick='javascript:getvallage("+val['region_id']+")'>"+val['region_name']+"</option>";
                                                                                        })
                                                                                        //   $('#city_list').append(str)
                                                                                        $('#city_list').html(str);
                                                                                        $('#city_list').show(200);
                                                                                    }
                                                                                }
                                                                            });         
                                                                        })
                                                                                                                                                    
                                                                        $('#city_list').bind('change',function(){
                                                                            //   alert(1)
                                                                            var id=$(this).val();
                                                                                                                                                        
                                                                            $.ajax({
                                                                                url : "{:U('City/city','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){        
                                                                                                                                                           
                                                                                    if(data != null){
                                                                                        $("#val_list .city_in").remove();
                                                                                        if($(".city_in").val()!==''){
                              
                                                                                            var str=""
                                                                                            var inex= this//selected=selected
                                                                                                                                                                      
                                                                                            $.each(data,function(key,val){
                                                                                                str += "<option class='city_in' value="+val['region_id']+" onclick='javascript:getvallage("+val['region_id']+")'>"+val['region_name']+"</option>";
                                                                                            })
                                                                                            $('#val_list').append(str);
                                                                                            $('#val_list').show(200);
                                                                                        }
                                                                                    }
                                                                                }
                                                                                                                                                              
                                                                            });  
                                                                        })
                                                                                                                                                    
                                                                        var province = function() {
                                                                            var id=$(".city_in").val();
                                                                            $.ajax({
                                                                                url : "{:U('City/citySave','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){    
                                                                                    //  console.log(data)
                                                                                    if(data != null){
                                                                                        if($(".cheng_in").val()!==''){
                                                                                            var str=""
                                                                                            str += "<option value="+data.REGION_ID+">"+data.REGION_NAME+"</option>";
                                                                                            $.each(data.list,function(key,val){
                                                                                                str += "<option class='city_in' value="+val['REGION_ID']+" onclick='javascript:getvallage("+val['REGION_ID']+")'>"+val['REGION_NAME']+"</option>";
                                                                                            })
                                                                                            $('#city_list').html(str);
                                                                                            $('#city_list').show(200);
                                                                                        }
                                                                                    }
                                                                                }
                                                                            });  
                                                                        };
                                                                        var area = function() {
                                                                            var id=$(".area_on").val();
                                                                            //       alert(id)
                                                                            $.ajax({
                                                                                url : "{:U('City/vallcage','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){      
                                                                                    //       console.log(data)
                                                                                    if(data != null){
                                                                                        if($(".city_in").val()!==''){
                                                                                            var str=""
                                                                                            str += "<option value="+data.REGION_ID+">"+data.REGION_NAME+"</option>";
                                                                                            $.each(data.list,function(key,val){
                                                                                                str += "<option class='city_in' value="+val['REGION_ID']+">"+val['REGION_NAME']+"</option>";
                                                                                            })
                                                                                            $('#val_list').html(str);
                                                                                            $('#val_list').show(200);
                                                                                            str="";
                                                                                        }
                                                                                    }
                                                                                }
                                                                            });  
                                                                        };
                                                                                                                                              
                                                                        province();
                                                                        area();
                                                                        //        getvallage($(".city_in").val());

                                                                        var pro = function() {
                                                                            var id=$("#typeId").val();

                                                                            $.ajax({
                                                                                url : "{:U('typeAjax','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){     
                                                                                    //        console.log(data)
                                                                                    //   alert(data) 
                                                                                    if(data != null){

                                                                                        var str=""
                                                                                                                                                   
                                                                                        str += "<option value="+data.type_id+">"+data.type_name+"</option>";
                                                                                                                                                               
                                                                                        $.each(data.list,function(key,val){
                                                                                            str += "<option value="+val['type_id']+">"+val['type_name']+"</option>";
                                                                                        })
                                                                                        $('#soncate').html(str);
                                                                                        $('#soncate').show(300);
                                                                                    }
                                                                                }
                                                                            });    
                                                                        }
                                                                        //  province();
                                                                                                                                               
                                                                        //       pro();
                                                                        $('#type_on').bind('change',function(){
                                                                                                                   
                                                                          $(this).parent().next().css("color","#7f7f7f")
                                                                            var id =$(this).val();
                                                                                                                                                  
                                                                            $.ajax({
                                                                                url : "{:U('sonCate','','')}",
                                                                                type : "post",
                                                                                data : "id="+id,
                                                                                dataType : "json",
                                                                                success : function(data){   
                                                                                                                                                          
                                                                                    if(data != null){
                                                                                        var str=""
                                                                                        $.each(data,function(key,val){
                                                                                            str += "<option  value="+val['type_id']+">"+val['type_name']+"</option>";
                                                                                        })
                                                                                        $('#soncate').html(str);
                                                                                        $('#soncate').show(300);
                                                                                    }
                                                                                }
                                                                            });         
                                                                        })  
                                                                        // alert($("#action").val())
                                                                        if($("#action").val()=='add'){  
                                                                        }else{ 
                                                                            pro(); }   

                                                                    }) 
                                                                                                                                                
                                                                    function getvallage(id){

                                                                        var id = id;
                                                                        $('#vallage').attr('city',id);
                                                                        $.ajax({
                                                                            url : "{:U('City/vallage','','')}",
                                                                            type : "post",
                                                                            data : "id="+id,
                                                                            dataType : "json",
                                                                            success : function(data){                       
                                                                                if(data != null){
                                                                                    var str=""
                                                                                    $.each(data,function(key,val){
                                                                                        str += "<option class='city_in' value="+val['region_id']+">"+val['region_name']+"</option>";
                                                                                    })
                                                                                    $('#val_list').html(str);
                                                                                    $('#val_list').show(200);
                                                                                }
                                                                            }
                                                                        });

                                                                    }

                                                                                                                                                
                 
                                                                </script>

                                                                </html>
