<!DOCTYPE html>
<html>
<head>
 <title>社区调查</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="__PUBLIC__/jquery.mobile-1.4.5.min.css" /> 
 <script src="__PUBLIC__/jquery-1.8.0.min.js"></script> 
 <script src="__PUBLIC__/jquery.mobile-1.4.5.min.js"></script> 
</head>
<body> 
	<div data-role="page"> 
		<div data-role="header"> 
		<h1>社区调查</h1> 
		</div>
		<div data-role="content">
			<p  data-role="title">感谢你的参与！</p>
　　  <p>请关闭浏览器</p>
　　  <p>
　　    <a href="#"
　　       data-role="button"
　　       data-rel="back"
　　       data-theme="a">关闭
　　    </a>
　　  </p>
		<div data-role="footer"><h4>{$Think.config.web_copy}</h4></div>

		 

		 

		</div>
	</div>
</body> 

</html>  