<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第三方接口配置</title>
<link href="__PUBLIC__/Css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/Css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Css/uploadify.css">
		<script src='__PUBLIC__/Js/jquery.uploadify.min.js'></script>
<script type="text/javascript">
    $(function(){
        // alert(1)
        //简单验证
            var validate = {
            'version' : false,
            'des':false,

        };
        $('#version').blur(function(){
            if($.trim($(this).val()) == ''){
                $('#version_info').text('版本号不能为空').css('color','red');
                validate.version = false;
            }else{
                id = $.trim($('#id').val());
                if (id == '') {
                    $.post("{:U('check')}",{'version':$.trim($(this).val())},function(data){
                        if (data) {
                            $('#version_info').text('你输入的版本号已经存在').css('color','red');
                            validate.version = false;
                        }                 
                    },'json')
                };
                $('#version_info').text('');
                validate.version = true;
                
            }
        });
        $('#des').blur(function(){
            if($.trim($(this).val()) == 0){
                $('#des_info').text('更新描述不能为空').css('color','red');
                validate.des = false;
            }else{
                $('#des_info').text('');
                validate.des = true;
            }
        });   

        $('form').submit(function(){
            $('#version').trigger('blur');
            $('#des').trigger('blur');
            var isOK = validate.version && validate.des
            if(!isOK){                               
                return false;
            }
            if($.trim($('#url').val()) == 0){
                $('#url_info').text('上传文件不能为空').css('color','red');
                return false;
            }
            return true;

        });
         
    })
</script>
<style type="text/css">
    .pro {
    	float: left;
    	line-height: 30px;
    	margin-left: 0px;
    	margin-bottom: 10px;
    }

    .sku_tip {
    	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    	border-radius: 4px;
    	box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.7);
    	color: #fff;
    	display: none;
    	left: 50%;
    	margin-left: -70px;
    	padding: 5px 10px;
    	position: fixed;
    	text-align: center;
    	top: 50%;
    	z-index: 25;
    }

    .pro select {
    	width: 345px;
    	height: 32px;
    }

    .box {
    	margin-left: 5px;
    	font-size: 12px;
    	margin-top: -3px;
    	padding-left: 5px;
    	padding: 3px;
    }
</style>
</head>
<body style="background: none;">

	<div class="place">
		<span>后台管理：</span>
		<ul class="placeul">
			<li>系统管理</li>
			<li>第三方接口配置</li>
		</ul>
	</div>
	<form action="{:U('insert',array('act'=>'ctrip'))}" method="post" name="vform">
			<div class="formbody">
				<div class="formtitle">
					<span>{$data.title}</span>
				</div>
				<ul class="forminfo">
					<li><label>联盟ID</label><input name="uid" id="version"  type="text" class="dfinput"  value="{$ctrip.uid}" /><i id="version_info">携程联盟id</i></li>
                    <li><label>SID</label><input name="sid" id="des"  type="text" class="dfinput"  value="{$ctrip.sid}" /><i id="des_info"></i></li>
                    <li><label>站点密钥(APIKey) </label><input name="key" id="url"  type="text" class="dfinput"  value="{$ctrip.key}" /><i id="des_info">站点密钥</i></li>       
					<li><label>&nbsp;</label><input name="" type="submit"
						class="btn btn-primary" value="确认{$data.btn}"
						onclick="javascript:;" />
                        
                    </li>
				</ul>
			</div>
	</form>
    <form action="{:U('insert',array('act'=>'people'))}" method="post" name="vform">
            <div class="formbody">
                <div class="formtitle">
                    <span>{$people.title}</span>
                </div>
                <ul class="forminfo">
                    <li><label>App Key</label><input name="appKey" id="version"  type="text" class="dfinput"  value="{$some.appKey}" /><i id="version_info">站点密钥</i></li>
                    <li><label>App Secret </label><input name="secret" id="des"  type="text" class="dfinput"  value="{$some.secret}" /><i id="des_info">站点密码</i></li>       
                    <li><label>&nbsp;</label><input name="" type="submit"
                        class="btn btn-primary" value="确认{$people.btn}"
                        onclick="javascript:;" />
                        
                    </li>
                </ul>
            </div>
    </form>
    <script type="text/javascript">
         var img = "";
            $('#upload_file').uploadify({
                'swf'      : '__PUBLIC__/Images/uploadify.swf',
                'uploader' : '{:U("Uploads/apk")}',
                'cancelImage':'__PUBLIC__/Images/uploadify-cancel.png',
                'buttonText' : '文件上传',
                'multi': false,
                'onUploadSuccess' : function(file, data, response) {
                    //alert(data);
                    obj= $.parseJSON(data);
                    $('#url').val(obj);
                }
            });
    
        
        function deletePic(){
                                                                                                                       
            $("#imgs img").remove();
            $('#list_hidde input').remove();
        }
    </script>


</body>
</html>
